RewriteEngine On

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]

# Redirect /index to root
RewriteRule ^index$ / [R=301,L]

# Ensure the .html version isn't directly accessible to avoid duplicate content
RewriteCond %{THE_REQUEST} \.html
RewriteRule ^(.*)\.html$ /$1 [R=301,L]

# Set default index page
DirectoryIndex index.html